.team-info{
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    margin: 20px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.actions a {
    text-decoration: none;
    color: white;
    padding: 4px 20px;
    background-color: rgb(81, 81, 245);
    cursor: pointer;
    border-radius: 7px;
}

.actions button {
    color: white;
    padding: 4px 20px;
    background-color: rgb(245, 81, 81);
    cursor: pointer;
    border-radius: 7px;
    border: none;
}